h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.cursor,
.btn {
  cursor: pointer;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 20px;
  height: 147px;
  background: #f7fdfb;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 161px;
  height: 40px;
  background-color: #c4c4c4;
}

.navigation-list {
  align-items: flex-start;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.navigation-list.flex {
  align-items: center;
}
.navigation-list a {
  padding: 9px 0px 8px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  color: #575c74;
}
.navigation-list .btn {
  border-radius: 8px;
  width: 123px;
  height: 47px;
  background: #1b5fc1;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #fff;
  border: none;
}

.container.hero {
  background: #f7fdfb;
  height: 744px;
}
.container.hero.flex {
  position: relative;
  margin-bottom: 72px;
}

.hero-bg {
  position: absolute;
  bottom: 0px;
  right: -380px;
  background-image: url("../img/hero/bg.png");
  width: 927px;
  height: 891px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 150px;
  opacity: 0.15;
}

.wrapper {
  width: 544px;
}
.wrapper span {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  color: #ffb800;
  margin-bottom: 30px;
}
.wrapper h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 114%;
  color: #0c122d;
  margin-bottom: 40px;
}
.wrapper .wrap-title {
  width: 555px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: start;
  color: #575c74;
  margin-bottom: 54px;
}

.wrapper-btn.flex {
  justify-content: flex-start;
  gap: 20px;
}
.wrapper-btn.flex .button-show {
  border-radius: 8px;
  width: 115px;
  height: 46px;
  box-shadow: 0 10px 15px 0 rgba(27, 95, 193, 0.19);
  background: #1b5fc1;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
.wrapper-btn.flex .button-learn {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #ffb800;
  background-color: #fff;
  border: 1px solid #ffb800;
  border-radius: 8px;
  width: 125px;
  height: 46px;
  cursor: pointer;
}

.hero-wom {
  width: 496px;
  height: 100%;
  z-index: 2;
  background-image: url("../img/hero/woman.png");
  background-position: center;
  background-repeat: no-repeat;
}

.diagnostic-lab {
  height: 2491px;
  background-image: url("../img/diagnostic/Vector-left.png"), url("../img/diagnostic/Vector-right.png");
  background-position: top left, right bottom;
  background-repeat: no-repeat no-repeat;
}
.diagnostic-lab .container .discr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 47px;
  margin-bottom: 80px;
}
.diagnostic-lab .container .discr h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 104%;
  color: #0c122d;
  margin-bottom: 26px;
}
.diagnostic-lab .container .discr p {
  width: 523px;
  height: 517px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #575c74;
}
.diagnostic-lab .container .discr .discr-img {
  order: 2;
}
.diagnostic-lab .container .discr .discr-text {
  width: 523px;
  height: 417px;
}

.diagnostic-list.flex {
  gap: 31px;
  margin-bottom: 133px;
}
.diagnostic-list.flex .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.diagnostic-list.flex .item div {
  width: 194px;
}
.diagnostic-list.flex .item h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #0c122d;
  margin-bottom: 15px;
}
.diagnostic-list.flex .item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  color: #575c74;
}
.diagnostic-list.flex .item .diagnostic-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  fill: #ffb800;
}

.info {
  position: relative;
}
.info.flex {
  align-items: flex-start;
  margin-bottom: 80px;
}
.info .info-img {
  margin-top: 24px;
  border-radius: 20px 0 0 0;
  width: 570px;
  height: 616px;
}
.info .info-text {
  position: absolute;
  bottom: 24px;
  left: 285px;
  width: 285px;
  height: 332px;
  padding: 50px 30px 80px 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  background-color: #1b5fc1;
}
.info .inner {
  width: 570px;
  height: 332px;
}
.info .inner p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #575c74;
  padding: 80px 30px 132px 30px;
  background: #fff;
}
.info .inner .text {
  color: #fff;
  border-top-right-radius: 20px;
  background: #1b5fc1;
}
.info.flex .content {
  align-items: flex-start;
  flex-direction: column;
  width: 570px;
  height: 284px;
  padding: 45px 40px 49px 38px;
  border-bottom-right-radius: 20px;
  background: #ffb800;
}
.info.flex .content div {
  background: #ffb800;
}
.info.flex .content div p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 26px;
}
.info.flex .content .aside {
  align-items: flex-start;
  height: 51px;
}
.info.flex .content .aside .aside-wrap {
  border-right: 1px solid #fff;
  height: 46px;
}
.info.flex .content .aside button {
  border: 1px solid #1b5fc1;
  border-radius: 8px;
  width: 125px;
  height: 46px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #1b5fc1;
  background: #ffb800;
  margin-right: 40px;
}
.info.flex .content .aside .aside-contact {
  height: 51px;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}
.info.flex .content .aside .aside-contact .wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1b5fc1;
  width: 46px;
  height: 46px;
  margin-left: 40px;
}
.info.flex .content .aside .aside-contact .wrap-icon .aside-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.info.flex .content .aside .wrap-cont {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 13px;
}
.info.flex .content .aside .wrap-cont span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #1b5fc1;
}
.info.flex .content .aside .wrap-cont a {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #0c122d;
}
.info.flex .content-caption {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 250%;
  color: #0c122d;
  margin-bottom: 5px;
}

.mask {
  border-bottom-left-radius: 150px;
  height: 1614px;
  background: #f7fdfb;
}

.box-img {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
}
.box-img span {
  display: inline-block;
  width: 146px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #575c74;
  margin-right: 16px;
}
.box-img .line {
  width: 147px;
  height: 1px;
  background-color: #ffb800;
  margin-right: 87px;
}
.box-img ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.box-mask {
  width: 100%;
  height: 100%;
}

.container.flex {
  gap: 90px;
  align-items: flex-start;
}
.container.flex h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 104%;
  color: #0c122d;
  width: 653px;
  margin-bottom: 35px;
}
.container.flex p {
  font-size: 16px;
  line-height: 187%;
  text-align: start;
  color: #575c74;
  margin-top: -10px;
  margin-bottom: 35px;
}

.mask-list.flex {
  width: 650px;
  row-gap: 26px;
  flex-wrap: wrap;
}
.mask-list.flex .item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}
.mask-list.flex .item .wrapper-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1b5fc1;
  justify-content: center;
  align-items: center;
}
.mask-list.flex .item div {
  width: 238px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mask-list.flex .item h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #0c122d;
}
.mask-list.flex .item p {
  width: auto;
  font-size: 15px;
  line-height: 147%;
  color: #575c74;
  margin: 0;
}
.mask-list.flex .item .mask-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  fill: #fff;
}/*# sourceMappingURL=style.css.map */