@media screen and (max-width: 480px), screen and (min-width: 480px) {
  .container {
    & .discr {
      display: block;
      margin-bottom: 40px;

      & img {
        display: none;
      }
      & div {
        max-width: 100%;
      }

      & h2 {
        font-family: $sf;
        font-weight: 700;
        font-size: 28px;
        line-height: 104%;
        text-align: center;
        color: $dark;
        padding: 0 20px;
        margin-bottom: 13px;
      }

      & p {
        font-family: $ff;
        font-weight: 400;
        font-size: 14px;
        line-height: 187%;
        color: $grey;
        text-align: justify;
        padding: 0 20px;
      }
    }
  }
}

.diagnostic-list {
  &.flex {
    gap: 15px;
    flex-direction: column;
    margin-bottom: 53px;

    & .item {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;

      & div {
        max-width: 100%;
        max-width: 364px;
      }

      & h4 {
        font-family: $ff;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: $dark;

        margin-bottom: 10px;
      }

      & p {
        font-family: $ff;
        font-weight: 400;
        font-size: 15px;
        line-height: 147%;
        color: $grey;
      }

      & .diagnostic-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40px;
        height: 40px;
        fill: $accent;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .diagnostic-list {
    &.flex {
      gap: 20px;
      margin-bottom: 73px;
      flex-direction: row;
      flex-wrap: wrap;

      & .item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        & div {
          max-width: 194px;
        }
      }
    }
  }
  .container {
    & .discr {
      & img {
        display: block;
      }

      & div {
        max-width: 100%;
      }

      & h2 {
        font-size: 32px;
        margin-bottom: 20px;
      }

      & p {
        font-size: 16px;
        padding: 0 30px;
      }
    }
  }
}

// =========================1200=================

@media screen and (min-width: 1200px) {
  .diagnostic {
    position: relative;
    & .diagnostic-lab {
      background-image: url("../img/diagnostic/Vector-left.png"),
        url("../img/diagnostic/Vector-right.png");
      background-position: top left, right 1012px;
      background-repeat: no-repeat no-repeat;
      position: absolute;
      width: 100%;
      height: 2491px;
      z-index: -2;
    }
  }

    .container {
        & .discr {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 47px;
          margin-bottom: 80px;

          & h2 {
            font-size: 48px;
            color: $dark;
            margin-bottom: 26px;
            text-align: left;
            padding: 0;
          }

          & p {
            font-size: 16px;
            padding: 0;
            text-align: left;
          }

          & .discr-img {
            order: 2;
          }

          & .discr-text {
            min-width: 523px;
            height: 417px;
          }
        }
      }
    }

    .diagnostic-list {
      &.flex {
        gap: 31px;
        margin-bottom: 133px;
        justify-content: flex-end;

        & .item {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          & div {
            max-width: 194px;
          }

          & h4 {
            font-family: $ff;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: $dark;
            margin-bottom: 15px;
          }

          & p {
            font-family: $ff;
            font-weight: 400;
            font-size: 15px;
            line-height: 147%;
            color: $grey;
          }

          & .diagnostic-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 40px;
            fill: $accent;
          }
        }
      }
    
  
}
