@media screen and (max-width: 479px), screen and (min-width: 480px) {
  .container {
    &.hero {
      background: #f7fdfb;
      height: 300px;

      &.flex {
        position: relative;
        margin-bottom: 18px;

        & .hero-wom {
          display: none;
        }
      }
    }
  }

  .wrapper {
    max-width: 90%;
    margin-bottom: 50px;

    & span {
      font-family: $sf;
      font-weight: 500;
      font-size: 14px;
      line-height: 214%;
      color: $accent;
      margin-bottom: 30px;
    }

    & h1 {
      font-family: $sf;
      font-weight: 700;
      font-size: 36px;
      line-height: 114%;
      color: $dark;
      text-align: center;
      margin-bottom: 20px;
    }

    & .wrap-title {
      font-family: $ff;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: justify;
      color: $grey;
      margin-bottom: 27px;
    }
  }

  .wrapper-btn {
    &.flex {
      justify-content: center;
      gap: 20px;

      & .button-show {
        border-radius: 8px;
        max-width: 115px;
        height: 46px;
        box-shadow: 0 10px 15px 0 rgba(27, 95, 193, 0.19);
        background: $blue;
        font-family: $sf;
        font-weight: 500;
        font-size: 14px;
        line-height: 214%;
        text-align: center;
        color: $white;
        border: none;
        cursor: pointer;
      }

      & .button-learn {
        font-family: $sf;
        font-weight: 500;
        font-size: 14px;
        line-height: 214%;
        text-align: center;
        color: $accent;
        background-color: $white;
        border: 1px solid $accent;
        border-radius: 8px;
        max-width: 125px;
        height: 46px;
        cursor: pointer;
      }
    }
  }
}

// ==============================768============

@media screen and (min-width: 768px) {
  .container {
    &.hero {
      &.flex {
        margin-bottom: 28px;
      }
    }
  }

  .wrapper {
    max-width: 100%;
    margin-bottom: 40px;

    & h1 {
      font-size: 42px;
      margin-bottom: 30px;
    }

    & .wrap-title {
      font-size: 16px;
      margin-bottom: 37px;
    }
  }

  .wrapper-btn {
    &.flex {
      justify-content: center;
      gap: 20px;

      & .button-show {
        max-width: 135px;
        font-size: 16px;
      }

      & .button-learn {
        font-size: 16px;
      }
    }
  }
}

// ====================1200============

@media screen and (min-width: 1200px) {
  .hero {
    width: 1920px;
    height: 744px;
    background: #f7fdfb;

    &.flex {
      position: relative;
      margin-bottom: 72px;
      display: block;

      & .hero-wom {
        position: absolute;
        top: 0px;
        right: 370px;
        display: block;
        width: 496px;
        height: 100%;
        z-index: 2;
        background-image: url("../img/hero/woman.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .container {
    & .hero-bg {
      position: absolute;
      bottom: 0px;
      right: -20px;
      background-image: url("../img/hero/bg.png");
      width: 927px;
      height: 891px;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom-left-radius: 150px;
      opacity: 0.15;
    }

    .wrapper {
      max-width: 544px;
      padding-top: 157px;

      & h1 {
        font-size: 72px;
        text-align: left;
      }

      & .wrap-title {
        font-size: 16px;
        text-align: start;
        margin-bottom: 54px;
      }
    }

    .wrapper-btn {
      &.flex {
        justify-content: flex-start;
        gap: 20px;
      }
    }
  }
}
