.back-grey {
    background-color: #E1E6EC;
    padding-top: 73px;
    height: 416px;
}


.container {
    &.information {

        & .list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 50px;

            & .item {
                width: 320px;

                & .logo {
                    margin-bottom: 38px;
                }

            }
        }





        .wrap {
            height: 92px;
            padding: 43px 0;
            text-align: center;
            border-top: 1px solid #C4C4C4;


            & p {
                font-size: 15px;
                line-height: 147%;
                color: $grey;
            }
        }
    }
}