.box-img {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;

    & span {
        display: inline-block;
        width: 146px;
        font-family: $ff;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: $grey;
        margin-right: 16px;
    }

    & .line {
        width: 147px;
        height: 1px;
        background-color: $accent;
        margin-right: 87px;
    }

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;

    }
}

.box-mask {
    width: 100%;
    height: 100%;
}

.container {
    &.flex {
        gap: 90px;
        align-items: flex-start;
        margin-bottom: 61px;

        & h2 {
            font-family: $sf;
            font-weight: 700;
            font-size: 48px;
            line-height: 104%;
            color: $dark;
            width: 653px;
            margin-bottom: 35px;
        }

        & p {
            font-size: 16px;
            line-height: 187%;
            text-align: start;
            color: $grey;
            margin-top: -10px;
            margin-bottom: 35px;
        }
    }
}

.mask-list {

    &.flex {
        width: 650px;
        row-gap: 26px;
        flex-wrap: wrap;

        & .item {

            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 18px;

            & .wrapper-icon {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background-color: $blue;
                justify-content: center;
                align-items: center;
            }

            & div {
                width: 238px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }


            & h4 {
                font-family: $ff;
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: $dark
            }

            & p {
                width: auto;
                font-size: 15px;
                line-height: 147%;
                color: $grey;
                margin: 0;
            }

            & .mask-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 26px;
                height: 26px;
                fill: $white;

            }
        }
    }
}