@media screen and (max-width: 479px), screen and (min-width: 480px) {
  .box-img {
    position: relative;
    display: block;
    padding: 0 10px;
    margin-bottom: 40px;

    & .box-img-bg {
      position: absolute;
      z-index: -1;
      top: -414px;
      left: -434px;
      border-bottom-left-radius: 150px;
      max-width: 100%;
      height: 1614px;
      background: #f7fdfb;
    }

    & span {
      display: none;
    }

    & .line {
      display: none;
    }

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }

  .box-mask {
    display: none;
  }

  .container {
    &.mask {
      &.flex {
        align-items: flex-start;
        margin-bottom: 30px;

        & .box-mask {
          display: none;
          }

        & .box-mask-info {
          & h2 {
            font-family: $sf;
            font-weight: 700;
            font-size: 24px;
            line-height: 104%;
            color: $dark;
            text-align: center;
            padding: 0 20px;
            margin-bottom: 10px;
          }

          & p {
            font-size: 14px;
            line-height: 187%;
            color: $grey;
            text-align: center;
            padding: 0 20px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .mask-list {
    &.flex {
      row-gap: 13px;
      flex-wrap: wrap;
    

      & .item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 18px;

        & .wrapper-icon {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: $blue;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
        }

        & div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        & h4 {
          font-family: $ff;
          font-weight: 700;
          font-size: 18px;
          line-height: 140%;
          color: $dark;
          text-align: center;
        }

        & p {
          font-size: 15px;
          line-height: 147%;
          color: $grey;
          margin: 0;
        }

        & .mask-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 26px;
          height: 26px;
          fill: $white;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .box-img {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    & span {
      display: inline-block;
      max-width: 146px;
      font-family: $ff;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $grey;
      margin-right: 16px;
    }

    & ul {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
  }

  .container {
    &.mask {
      &.flex {
        gap: 90px;
        align-items: flex-start;
        margin-bottom: 30px;

        & .box-mask-info {
          & h2 {
            font-size: 32px;
            margin-bottom: 20px;
          }

          & p {
            font-size: 16px;
            margin-bottom: 60px;
          }
        }
      }
    }
  }

  .mask-list {
    &.flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
      gap: 20px;

      & .item {
        display: flex;
        flex: calc(50% - 25px);
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        & .wrapper-icon {
          width: 46px;
          height: 46px;
         
        }

        & h4 {
          font-size: 20px;
          padding: 10px;
        }

        & p {
          font-size: 16px;
        }

        & .mask-icon {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

// =========================1200==============

@media screen and (min-width: 1200px) {
  .mask-bg {
    position: relative;

    & .box-img-bg {
      position: absolute;
      z-index: -1;
      top: -414px;
      left: -42px;
      border-bottom-left-radius: 150px;
      width:100%;
      height: 1614px;
      background: #f7fdfb;
      z-index: -1;
    }

    & .box-img {
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 80px;

      & span {
        display: inline-block;
        max-width: 146px;
        font-family: $ff;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: $grey;
        margin-right: 16px;
      }

      & .line {
        display: block;
        width: 147px;
        height: 1px;
        background-color: $accent;
        margin-right: 87px;
      }

      & ul {
        justify-content: center;
        align-items: center;
        gap: 100px;
      }
    }
  }

  .container {
    &.mask {
      &.flex {
        gap: 90px;
        align-items: flex-start;

        & .box-mask {
          display: block;
            height: 100%;
          }
       

        & .box-mask-info {
          & h2 {
            font-size: 48px;
            text-align: left;
            padding: 0;
            margin-bottom: 35px;
          }

          & p {
            font-size: 16px;
            text-align: left;
            padding: 0;            
            margin-bottom: 35px;
          }
        }
      }
    }

    & .mask-list {
      &.flex {
        row-gap: 26px;
        padding: 0;
       
        & .item {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 18px;

          & .wrapper-icon {
            width: 56px;
            height: 56px;
            justify-content: center;
            align-items: center;
          }

          & div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }

          & h4 {
            font-size: 20px;
            padding: 0;
            text-align: left;
          
          }

          & p {
            max-width: auto;
            font-size: 15px;
            line-height: 147%;
            color: $grey;
            margin: 0;
          }

          
        }
      }
    }
  }
}
